:root {
  --text-primary: "Work Sans", sans-serif;
  --text-secondary: "Shanti", sans-serif;
  --text-tartiary: "Hind Madurai", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-primary);
  background: #f8fafc;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
