.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 500px;
  background: #faf9ff;
}

/* RIGHT */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 2.5rem;

  background: white;

  border-radius: 28px;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}

.card h2 {
  margin-bottom: 0.5rem;
  color: #111827;
}

.card > p {
  color: #6b7280;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 5px;
}

.inputGroup label {
  font-size: 0.9rem;
  font-weight: 600;
}

.inputGroup input {
  padding: 1rem;

  border: 1px solid #e5e7eb;
  border-radius: 12px;

  outline: none;

  transition: all 0.25s ease;
}

.inputGroup input:focus {
  border-color: #7c3aed;

  box-shadow: 0 0 0 4px rgba(124, 58, 237, 0.1);
}

.errorMessage {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 500;
  color: red;
  bottom: -15px;
}

.loginBtn {
  padding: 1rem;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #7c3aed, #9333ea);

  color: white;
  font-weight: 600;

  cursor: pointer;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.card .loginStatusMessage {
  position: absolute;
  background-color: rgba(144, 238, 144, 50%);
  top: 5px;
  padding: 10px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.card .loginSuccessStyle {
  background-color: rgba(144, 238, 144, 50%);
}

.card .loginFailStyle {
  background-color: rgba(255, 192, 203, 50%);
}

.loginBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(124, 58, 237, 0.3);
}

.loginBtn:active {
  transform: translateY(0);
}

.loginBtn:disabled {
  background-color: #a2a2a2;
  background-image: none;
  cursor: not-allowed;
}

.loginBtn:disabled:hover,
.loginBtn:disabled:active {
  transform: none;
  box-shadow: none;
}

.signup {
  text-align: center;
  margin-top: 1.5rem;
}

.signup a {
  color: #7c3aed;
  text-decoration: none;
  font-weight: 600;
}

/* MOBILE */

@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
  }

  .left {
    display: none;
  }

  .right {
    padding: 1rem;
  }
}
